<!DOCTYPE html>
<html>
<head>
  <title>Trivia | Página principal</title>
  <link rel="stylesheet" type="text/css" href="/css/protected.css">
</head>
<body>
  <div class="ranking-container">
    <div class="ranking beginner-ranking">
      <h3>Nivel Principiante</h3>
      <table>
        <thead>
          <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <% beginner_ranking.each_with_index do |ranking, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= ranking.user.username %></td>
              <td><%= ranking.score %></td>
            </tr>
          <% end %> <!-- end do-->
        </tbody>
      </table>
    </div>
    <div class="ranking difficulty-ranking">
      <h3>Nivel Experto</h3>
      <table>
        <thead>
          <tr>
            <th>Posición</th>
            <th>Usuario</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <% difficult_ranking.each_with_index do |ranking, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= ranking.user.username %></td>
              <td><%= ranking.score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <h1>¡Hola <em><%= @username %></em>! Preparate . . .</h1>
  <p>Elige algunas de las siguientes opciones</p>
  <form action="/learnToGame" method="get">
    <button type="submit">Aprende a jugar</button>
  </form>
  <form action="/trivia" method="post">
    <div class="button-container">
      <button class="button" name="difficulty" value="beginner">Principiante</button>
      <button class="button" name="difficulty" value="difficult">Experto</button>
    </div>
  </form>
  <form action="/reclamo" method="get">
    <div class="claim-container">
      <button type="submit">Hacer un reclamo</button>  
    </div>
  </form>
  <div class="msg-container">
    <button class="button" id="logout-button" type="submit" onclick="showMsg()">Cerrar sesión</button>
  </div>
  <script>
    function showMsg() {
      var overlay = document.createElement("div");
      overlay.classList.add("overlay");
      var msgContainer = document.querySelector(".msg-container");
      var msgBox = document.createElement("div"); // se crea dinamicamente un elemento div
      msgBox.classList.add("message-box"); // se agrega la clase message-box al elemento div
      msgBox.innerHTML = `
          <p>¿Estás seguro/a que deseas salir?</p>
          <button class="button" onclick="yesExit()">Si</button>
          <button class="button" onclick="noExit()">No</button>
        `;
      overlay.appendChild(msgBox); // se muestra el cuadro de dialogo
      document.body.appendChild(overlay); // se bloquea la pantalla menos el cuadro de dialogo
    }

    function yesExit() {
      window.location.href = "/";
    }
    
    // Si se elige "No", se quita el cuadro de dialogo permaneciendo en la misma página.
    function noExit() {
      var overlay = document.querySelector(".overlay");
      var msgContainer = document.querySelector(".msg-container");
      var msgBox = msgContainer.querySelector(".message-box");
      document.body.removeChild(overlay); 
      msgContainer.removeChild(msgBox);
    }
  </script>
</body>
</html>